---
layout: default
title: "Character Wiki"
---

<!-- Sorting Tabs -->
<div class="character-sort-tabs">
  <button id="popularity-tab" class="sort-tab active" data-target="popularity-container">Popularity</button>
  <button id="alphabetical-tab" class="sort-tab" data-target="alphabetical-container">Alphabetical</button>
  <button id="sorted-tab" class="sort-tab" data-target="sorted-container">Sorted</button>
</div>

<!-- Popularity View (Default) -->
<div id="popularity-container" class="character-view-container">
  {% assign rankedSlugs = site.data.character_ranking | map: "slug" %}
  {% for entry in site.data.character_ranking %}
    {% assign found_character = nil %}
    {% for char in site.characters %}
      {% assign thisSlug = char.slug | default: char.title | slugify %}
      {% if thisSlug == entry.slug %}
        {% assign found_character = char %}
      {% endif %}
    {% endfor %}
    {% if found_character %}
      <a href="{{ found_character.url }}" class="character-item">
        <div class="character-image" style="background-image: url('{{ found_character.image}}');"></div>
        <div class="character-name">{{ found_character.title }}</div>
      </a>
    {% endif %}
  {% endfor %}
  {% assign unranked = site.characters | sort: "title" %}
  {% for char in unranked %}
    {% assign thisSlug = char.slug | default: char.title | slugify %}
    {% unless rankedSlugs contains thisSlug %}
      <a href="{{ char.url }}" class="character-item">
        <div class="character-image" style="background-image: url('{{ char.image}}');"></div>
        <div class="character-name">{{ char.title }}</div>
      </a>
    {% endunless %}
  {% endfor %}
</div>

<!-- Alphabetical View -->
<div id="alphabetical-container" class="character-view-container" style="display: none;">
  {% assign alpha_chars = site.characters | sort: "title" %}
  {% for character in alpha_chars %}
    <a href="{{ character.url }}" class="character-item">
      <div class="character-image" style="background-image: url('{{ character.image}}');"></div>
      <div class="character-name">{{ character.title }}</div>
    </a>
  {% endfor %}
</div>

<!-- Sorted (Categories) View -->
<div id="sorted-container" class="sorted-content" style="display: none; width: 100%;">
  <!-- Category List -->
  <div id="sorted-category-list" class="character-view-container">
    {% for category in site.data.character_categories %}
      <a href="javascript:void(0)" class="character-item" onclick="loadCategory('{{ category.slug | default: category.name | slugify }}')">
        <div class="character-image" style="background-image: url('{{ category.image}}');"></div>
        <div class="character-name">{{ category.name }}</div>
      </a>
    {% endfor %}
  </div>
  <!-- Category Detail Containers -->
  {% for category in site.data.character_categories %}
    <div id="category-{{ category.slug | default: category.name | slugify }}-container" class="character-view-container" style="display: none;">
      {% for charSlug in category.characters %}
        {% assign matched_character = null %}
        {% for char in site.characters %}
          {% assign thisSlug = char.slug | default: char.title | slugify %}
          {% if thisSlug == charSlug %}
            {% assign matched_character = char %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% if matched_character %}
          <a href="{{ matched_character.url }}" class="character-item">
            <div class="character-image" style="background-image: url('{{ matched_character.image}}');"></div>
            <div class="character-name">{{ matched_character.title }}</div>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>


