<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Responsive viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="no-select">
  <header>
    <a href="/index.html" id="site-title">
      <span class="header-line1">Kyuukei wo Hanashi |</span>
      <span class="header-line2">Kyuu’s Breaktime Stories</span>
    </a>
  </header>
  
  <div class="page-wrapper">
    <div class="side-box left-box">
      <img src="https://i.imgur.com/c1LFa9W.png" alt="Left Side Image">
    </div>
    
    {% if page.no_scroll_container %}
      <div class="main-content">
        {{ content }}
      </div>
    {% else %}
      <div class="main-content scroll-container">
        {{ content }}
      </div>
    {% endif %}
    
    <div class="side-box right-box">
      <img src="https://i.imgur.com/FqobgRz.png" alt="Right Side Image">
    </div>
  </div>
  
  <script src="/js/main.js"></script>
</body>
</html>
